.hero {
    position: relative;
    min-height: 120vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
}

/* CONTENT ABOVE */
.hero-content {
    position: relative;
    z-index: 2;
}

/* SLIDER WRAPPER */
.slider-wrapper {
    position: relative;
}

/* DIAGONAL SHAPE */
.slider-wrapper::before {
    content: "";
    position: absolute;
    left: -120px;
    top: 0;
    width: 200px;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    transform: skewX(-20deg);
    z-index: 1;
}

/* IMAGE */
 .slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    position: relative;
    z-index: 2;
    transform: skewX(-20deg);
} 

/* ARROWS */
.arrows {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
    gap: 10px;
    z-index: 3;
}

.arrowColor {
    color: #ff0033
}

.arrows button {
    width: 55px;
    height: 55px;
    border: none;
    background: white;
    font-size: 18px;
    transform: skewX(20deg);
    transition: .3s;
}

.arrows button:hover {
    background: #ff0033;
    color: white;
}

.watchVideo {
    background-color: #0e1a3a;
    border: none;
    transform: skewX(20deg);

}

.watchVideo span {
    display: inline-block;
    transform: skewX(-20deg);
    padding: 15px 15px;
    font-weight: bold;

}

.learnMore {
    background-color: #ff0033;
    border: none;
    transform: skewX(20deg);
}

.learnMore span {
    display: inline-block;
    transform: skewX(-20deg);
    padding: 15px 15px;
    font-weight: bold;

}


/* RESPONSIVE */
@media (max-width: 992px) {
    .slider-img {
        height: 350px;
    }

    .slider-wrapper::before {
        display: none;
    }

    .arrows {
        left: 50%;
        transform: translateX(-50%);
    }

    .hero {
        padding: 80px 0;
        text-align: center;
    }
}